@model SharpBlog.Core.Models.CommentDto

<div class="row">
    <div class="offset-2 col-8">
        <div class="comment">
            <p>@Model.Content</p>
            <p class="signature">
                Commented by
                @if (string.IsNullOrEmpty(Model.Email))
                {
                    @Model.Author
                }
                else
                {
                    <a href="mailto:@Model.Email">@Model.Author</a>
                }
                on @Model.InputDate
            </p>

            @if (Context.User.Identity.IsAuthenticated)
            {
                <form asp-controller="Blog" asp-action="DeleteComment" method="post">
                    <input value="@Model.PostId" name="postId" type="hidden" />
                    <input value="@Model.Id" name="id" type="hidden" />
                    <button type="submit">Delete comment</button>
                </form>
            }
        </div>
    </div>
</div>